/* Configurações universais */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Work Sans';
  background: white url('imagens/Background Arae Estudio - Final.png') top
    center no-repeat scroll;
  background-size: cover;
}

header {
  padding: 2px 0;
  background-color: rgba(255, 255, 255, 0.805);

  /* Incluir essa borda somente quando rolar a tela para baixo */
  /* border-bottom: 1px solid #20a6ff; */
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;

  display: flex;
}

.logo img {
  max-width: 120px;
  vertical-align: middle;
}

.menu-items {
  align-content: center;
  align-self: center;
  padding-left: 60px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.menu-items a {
  color: rgb(120, 120, 120);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;

  width: 100%;
  height: 100%;
  margin-right: 9%;
}

.menu-items a:hover {
  color: rgb(248, 206, 19);
  background-color: rgba(120, 120, 120, 0.236);
  border-radius: 120px;
  height: 100px;
  width: 100px;
}

/* Seção do carrosel */
.carrossel {
  width: 100%;

  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.navigation-auto,
.manual-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.manual-navigation label {
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  transition: background 0.3s ease-in-out;
}

.manual-navigation label:hover {
  background: white;
}

input[type='radio'] {
  display: none;
}

/* input:checked ~ .slides { */
input:checked ~ .first {
  /* transform: translateX(0); */ /* Ajuste conforme necessário */
  margin-left: 0;
}

/* input#radio2:checked ~ .slides { */
input#radio2:checked ~ .first {
  /* transform: translateX(-100%); */
  margin-left: -100%;
}

/* input#radio3:checked ~ .slides { */
input#radio3:checked ~ .first {
  /* transform: translateX(-200%); */
  margin-left: -200%;
}

.manual-btn {
  cursor: pointer;
  margin-right: 5px;
}

.navigation-auto div {
  margin-right: 5px;
  border: 2px solid #20a6ff;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.65s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 5px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}
