@import url(utf-8);

body{
    font-family: 'Work Sans';
}
/* 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  */
header{
    display: flex;
    justify-content: center;
}

nav{
    display: inline-block;
    background-color: rgb(248, 206, 19);
    padding-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

nav ul li{
    padding-bottom: 10px;
    width: 80px;
    text-align: center;
}

article{
    background-color: #242323dc;
    padding: 25px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

article a{
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.conceitual{
    background-color: rgb(248, 206, 19);
}

section{
    background-color: #242323;
    padding: 20px;
}

main{
    background-color: #242323;
    padding: 20px;

}

h1{
    color: #605E5E;
    font-size: 3em;
}

h2{
    color: white;
}

p{
    color: white;
}

data{
    color: white;
}

.hqs{
    text-align: center;
}

.p_hqs{
    margin-bottom: 250px;
    padding-left: 400px;
    padding-right: 400px;
}

footer{
    background-color: gray;
}

footer a img{
    width: 24px;
    height: 24px;
}